@(warehouseList: List[Warehouse])

@main("Home") {
  <h1>Home</h1>
  @if(warehouseList.size() > 0) {

    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Bezeichnung</td>
              <td>Adresse</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          @for(warehouse <- warehouseList){
            <tr>
              <td>@warehouse.getName()</td>
              <td>@warehouse.getStreet, @warehouse.getPostalCode @warehouse.getCity()</td>
              <td>
                <a href="@routes.WarehouseController.show(warehouse.getId())" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="@routes.WarehouseController.delete(warehouse.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
              </td>


            </tr>

          }
          </tbody>
        </table>
      </div>

    </div>
  } else{
    <div class="warehouse-item">
      Kein Warehouse vorhanden
    </div>
  }
}
