@()

<div class="nav-item">
    <a href="@routes.HomeController.index()"><i class="fa fa-building" aria-hidden="true"></i>Home</a>
</div>
<div class="nav-item">
    <a href="@routes.ProjectsController.index()"><i class="fa fa-building" aria-hidden="true"></i>Projects</a>
</div>
<div class="nav-item">
    <a href="@routes.WorkersController.index()"><i class="fa fa-building" aria-hidden="true"></i>Workers</a>
</div>
<div class="nav-item">
    <a href="@routes.OttenController.index()"><i class="fa fa-building" aria-hidden="true"></i>Otten</a>
</div>
<div class="nav-item">
    <a href="@routes.CustomersController.index()"><i class="fa fa-building" aria-hidden="true"></i>Customers</a>
</div>



