@(productList: List[Product])

@main("Produkte"){
    <h1>Produkte</h1>
    @if(productList.size() > 0) {
        @for(product <- productList) {
            <div class="warehouse-item">
            @product
            </div>
        }
    } else{
        <div class="warehouse-item">
            Kein Produkt vorhanden
        </div>
    }

    <div class="new-holder">
        <a class="btn btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Neues Produkt anlegen</a>
    </div>

}