@(workerList: List[Worker])

@main("Workers"){
    <h1>Workers</h1>
    @if(workerList.size() > 0) {
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Vorname</td>
                            <td>Nachname</td>
                        </tr>

                    </thead>
                    <tbody>
                    @for(worker <- workerList){
                        <tr>
                            <td>@worker.getPrename()</td>
                            <td>@worker.getLastname()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    } else {
        <div class="project-item">
            Kein Worker vorhanden
        </div>
    }
    <div class="row add-item">
        <div class="col-xs-2">
            <a href="@routes.FormController.addWorker()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
}